
 {{template "header" .}}
	<!--菜单栏-->
	<div class="Navigation" id="Navigation">
		 <ul class="Navigation_name">
			<li><a href="index.html">首页</a></li>
			<li><a href="#">日常护理</a></li>
			<li><a href="#">女士专区</a></li>
			<li><a href="#">男士专区</a></li>
			<li><a href="Buy_Brands.html">限时团购</a></li>
			<li><a href="#">礼品DIY</a><em class="hot_icon"></em></li>
			<li><a href="#">区域合作</a></li>
			<li><a href="#">联系我们</a></li>
		 </ul>			 
		</div>
	<script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
      <a href="#" class="link_bg"><img src="/static/images/link_bg_03.png" /></a>		
  </div>
</div>
</div>
<!--幻灯片样式-->
   	<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul class="smallUl"></ul>
			</div>
			<div class="bd">
				<ul>
					<li><a href="#" target="_blank"><div style="background:url(/static/images/AD-01.jpg) no-repeat; background-position:center; width:100%; height:460px;"></div></a></li>
					<li><a href="#" target="_blank"><div style="background:url(/static/images/AD-02.jpg) no-repeat rgb(207, 231, 255); background-position:center ; width:100%; height:460px;"></div></a></li>
					<li><a href="#" target="_blank"><div style="background:url(/static/images/AD-01.jpg) no-repeat; background-position:center; width:100%; height:460px;"></div></a></li>
                    <li><a href="#" target="_blank"><div style="background:url(/static/images/AD-03.jpg) no-repeat #f7ddea; background-position:center; width:100%; height:460px;"></div></a></li>
                    <li><a href="#" target="_blank"><div style="background:url(/static/images/AD-04.jpg) no-repeat #e0f4ff; background-position:center; width:100%; height:460px;"></div></a></li>
				</ul>
			</div>
			<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>

		</div>
		<script type="text/javascript">
		jQuery(".slideBox").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:true});
		</script>
 </div>
 <div class="index_style clearfix">
  <!--广告-->
  <div class="p_Deals">
    <div class="Deals_title"><div class="title_name"><h1>美妆特卖</h1><h2>-大牌火热热卖中-</h2></div><img src="/static/images/AD-bg1_10.png" /></div>
    <div class="Deals_list">
      <ul class="/static/products">
       <li><a href="#"><img src="/static/images/AD-p-1.jpg" /><img src="/static/images/title_img_13.png"  class="title"/></a></li>
       <li><a href="#"><img src="/static/images/AD-p-2.jpg" /><img src="/static/images/title_img_14.png"  class="title"/></a></li>
       <li><a href="#"><img src="/static/images/AD-p-3.jpg" /><img src="/static/images/title_img_15.png"  class="title"/></a></li>
       <li><a href="#"><img src="/static/images/AD-p-4.jpg" /><img src="/static/images/title_img_16.png"  class="title"/></a></li>
      </ul>
    </div>
  </div>
  <!--限时特卖-->
  <div class="Limit_p">
   <div class="Limit_title"><img src="/static/images/Limit_img_20.png" /><div class="title_name"><h1>限时团购</h1><h2>LIMIT BUY</h2><h3>品牌限时优惠促销</h3></div></div>
   <div class="Limit_list">
    <ul class="p_t_list">
     <li>
      <a href="#"><span>御泥坊 玫瑰滋养+红石榴亮颜美肤套装 </span><img src="/static/product/p_9.jpg" width="180" height="170" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li>
     <li>
      <a href="#"><span>御泥坊 玫瑰滋养+红石榴亮颜美肤套装 </span><img src="/static/product/p_7.jpg" width="180" height="170" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li>
     <li>
      <a href="#"><span>御泥坊 玫瑰滋养+红石榴亮颜美肤套装 </span><img src="/static/product/p_11.jpg" width="180" height="170" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li>
  
     <li>
      <a href="#"><span>御泥坊 玫瑰滋养+红石榴亮颜美肤套装 </span><img src="/static/product/p_19.jpg" width="180" height="170" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li>
     <li>
      <a href="#"><span>御泥坊 玫瑰滋养+红石榴亮颜美肤套装 </span><img src="/static/product/p_29.jpg" width="180" height="170" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li>
     <li>
      <a href="#"><span>御泥坊 玫瑰滋养+红石榴亮颜美肤套装 </span><img src="/static/product/p_20.jpg" width="180" height="170" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li> 
       <li class="Limit_name">
      <a href="#"><img src="/static/images/bg_p_23.png" width="243" height="399" /><div class="time"><em class="iconfont icon-time"></em>剩余时间：05时03分45秒</div></a>
     </li>
    </ul>
   </div> 
  </div> 
  <!--品牌展示--> 
  <div class="Brand_Show" id="Brand_Show">
    <div class="parHd  Toggle">
     <ul>
      <li>国际大牌<em></em></li>
      <li>推荐品牌<em></em></li>
      <li>国货精品<em></em></li>
     </ul>
    </div>
    <div class="parBd list">
    <div class="parBdIn">
     <ul>
     <li class="brand_list">
      <a href="#" class="brand_logo"><img src="/static/product/logo/34.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/42.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/152.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/156.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/199.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/245.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/339.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/458.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/618.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/644.jpg" width="160" /><span>欧珀莱</span></a>
      </li>
      <li class="brand_ad">
         <div class="AD_slideBox" id="AD_slideBox">
         <div class="hd"><ul></ul></div>
           <div class="bd">
            <ul>
             <li><a href="#"><img src="/static/images/AD.png" /></a></li>
             <li><a href="#"><img src="/static/images/AD1.jpg" /></a></li>
             <li><a href="#"><img src="/static/images/AD2.jpg" /></a></li>
            </ul>
           </div>
         </div>
         <script type="text/javascript">
		jQuery(".AD_slideBox").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:true,interTime:5000});
		</script>
    </li>
      </ul>
     <ul>
     <li class="brand_list">
      <a href="#" class="brand_logo"><img src="/static/product/logo/34.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/42.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/152.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/156.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/199.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/245.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/339.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/458.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/618.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/644.jpg" width="160" /><span>欧珀莱</span></a>
      </li>
     </ul>
     <ul>
     <li class="brand_list">
      <a href="#" class="brand_logo"><img src="/static/product/logo/34.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/42.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/152.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/156.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/199.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/245.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/339.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/458.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/618.jpg" width="160" /><span>欧珀莱</span></a>
      <a href="#" class="brand_logo"><img src="/static/product/logo/644.jpg" width="160" /><span>欧珀莱</span></a>
      </li>
     </ul>
     </div>
    </div>
    <a class="prev" href="javascript:void(0)"><em class="iconfont icon-left"></em></a>
	<a class="next" href="javascript:void(0)"><em class="iconfont icon-right"></em></a>
  </div>
  <script type="text/javascript">jQuery("#Brand_Show").slide({titCell:".parHd li",mainCell:".parBdIn",trigger:"click"});</script>
  <!--产品版块-->
  <div class="p_Section clearfix">
    <div class="Section_title">
      <div class="name"><em>1F</em>脸部护理</div>
      <div class="p_link"><a href="#">面膜</a> | <a href="#">补水</a> | <a href="#">祛痘</a> | <a href="#">美白</a> | <a href="#">防晒</a> |<a href="#">护肤套装</a> | <a href="#">洁面</a></div>
    </div>
    <div class="Section_info clearfix">
     <div class="pro_ad_slide">
       <div class="hd">
        <ul></ul>
       </div>
       <div class="bd">
        <ul>
        <li><a href="#"><img src="/static/images/AD-p-5.jpg"  width="598" height="449"/></a></li>
        <li><a href="#"><img src="/static/images/AD-p-6.jpg"  width="598" height="449"/></a></li>
        </ul>
       </div>
        <a class="prev" href="javascript:void(0)"><em class="arrow"></em></a>	   
         <a class="next" href="javascript:void(0)"><em class="arrow"></em></a>
     </div>
      <script type="text/javascript">
		jQuery(".pro_ad_slide").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:true,interTime:6000});
		</script>
        <!--产品列表-->
     <div class="pro_list">
      <ul>
       <li>
        <a href="#"><img src="/static/product/p_1.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_2.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_3.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_4.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_5.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">ECHOIN/百雀羚 小雀幸静润补水保湿面膜 丰盈补水 自然润泽</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_6.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
      </ul>
     </div>
     <div class="pro_ads">
      <ul>
       <li class="border"><a href="#"><img src="/static/product/ad/1.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/2.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/3.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/4.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/5.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/6.jpg" width="198"  height="140px"/></a></li>
      </ul>
     </div>
     <div class="pro_logo">
      <a href="#"><img src="/static/product/logo/34.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/42.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/152.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/156.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/740.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/741.png"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/690.jpg"  width="112" height="30"/></a>
       <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
         <a href="#"><img src="/static/product/logo/1270.jpg"  width="112" height="30"/></a>
     </div>
    </div>
  </div>
    <!--产品版块-->
  <div class="p_Section clearfix">
    <div class="Section_title">
      <div class="name"><em>1F</em>脸部护理</div>
      <div class="p_link"><a href="#">面膜</a> | <a href="#">补水</a> | <a href="#">祛痘</a> | <a href="#">美白</a> | <a href="#">防晒</a> |<a href="#">护肤套装</a> | <a href="#">洁面</a></div>
    </div>
    <div class="Section_info clearfix">
     <div class="pro_ad_slide">
       <div class="hd">
        <ul></ul>
       </div>
       <div class="bd">
        <ul>
        <li><a href="#"><img src="/static/images/AD-p-5.jpg"  width="598" height="449"/></a></li>
        <li><a href="#"><img src="/static/images/AD-p-6.jpg"  width="598" height="449"/></a></li>
        </ul>
       </div>
        <a class="prev" href="javascript:void(0)"><em class="arrow"></em></a>	   
         <a class="next" href="javascript:void(0)"><em class="arrow"></em></a>
     </div>
      <script type="text/javascript">
		jQuery(".pro_ad_slide").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:true,interTime:6000});
		</script>
        <!--产品列表-->
     <div class="pro_list">
      <ul>
       <li>
        <a href="#"><img src="/static/product/p_1.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_2.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_3.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_4.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_5.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">ECHOIN/百雀羚 小雀幸静润补水保湿面膜 丰盈补水 自然润泽</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_6.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
      </ul>
     </div>
     <div class="pro_ads">
      <ul>
       <li class="border"><a href="#"><img src="/static/product/ad/1.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/2.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/3.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/4.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/5.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/6.jpg" width="198"  height="140px"/></a></li>
      </ul>
     </div>
     <div class="pro_logo">
      <a href="#"><img src="/static/product/logo/34.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/42.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/152.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/156.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/740.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/741.png"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/690.jpg"  width="112" height="30"/></a>
       <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
         <a href="#"><img src="/static/product/logo/1270.jpg"  width="112" height="30"/></a>
     </div>
    </div>
  </div>
    <!--产品版块-->
  <div class="p_Section clearfix">
    <div class="Section_title">
      <div class="name"><em>1F</em>脸部护理</div>
      <div class="p_link"><a href="#">面膜</a> | <a href="#">补水</a> | <a href="#">祛痘</a> | <a href="#">美白</a> | <a href="#">防晒</a> |<a href="#">护肤套装</a> | <a href="#">洁面</a></div>
    </div>
    <div class="Section_info clearfix">
     <div class="pro_ad_slide">
       <div class="hd">
        <ul></ul>
       </div>
       <div class="bd">
        <ul>
        <li><a href="#"><img src="/static/images/AD-p-5.jpg"  width="598" height="449"/></a></li>
        <li><a href="#"><img src="/static/images/AD-p-6.jpg"  width="598" height="449"/></a></li>
        </ul>
       </div>
        <a class="prev" href="javascript:void(0)"><em class="arrow"></em></a>	   
         <a class="next" href="javascript:void(0)"><em class="arrow"></em></a>
     </div>
      <script type="text/javascript">
		jQuery(".pro_ad_slide").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,autoPage:true,interTime:6000});
		</script>
        <!--产品列表-->
     <div class="pro_list">
      <ul>
       <li>
        <a href="#"><img src="product/p_1.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_2.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_3.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_4.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_5.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">ECHOIN/百雀羚 小雀幸静润补水保湿面膜 丰盈补水 自然润泽</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
       <li>
        <a href="#"><img src="/static/product/p_6.jpg" width="180px" height="150px" /></a>
        <a href="#" class="p_title_name">Olay玉兰油 新生塑颜金纯活能水</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
      </ul>
     </div>
     <div class="pro_ads">
      <ul>
       <li class="border"><a href="#"><img src="/static/product/ad/1.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/2.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/3.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/4.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/5.jpg" width="198"  height="140px"/></a></li>
       <li><a href="#"><img src="/static/product/ad/6.jpg" width="198"  height="140px"/></a></li>
      </ul>
     </div>
     <div class="pro_logo">
      <a href="#"><img src="/static/product/logo/34.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/42.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/152.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/156.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/740.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/741.png"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
      <a href="#"><img src="/static/product/logo/690.jpg"  width="112" height="30"/></a>
       <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
         <a href="#"><img src="/static/product/logo/1663.jpg"  width="112" height="30"/></a>
     </div>
    </div>
  </div>
  <!--猜你喜欢样式-->
  <div class="like_p">
    <div class="title_name"><span>猜你喜欢</span></div>
    <div class="list">
      <ul class="list_style">
       <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_14.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
         <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_15.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
         <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_16.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
         <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_17.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
         <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_18.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
         <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_19.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
        <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_24.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
        <li class="p_info_u">
        <a href="#" class="p_img"><img src="/static/product/p_26.jpg" /></a>
        <a href="#" class="name">御泥坊 玫瑰滋养+红石榴亮颜美肤套装 深层补水滋润 提亮肤色</a>
        <div class="Numeral"><span class="price"><i>￥</i>123.00</span><span class="Sales">销量<i>345</i>件</span></div>
       </li>
      </ul>
    </div>
  </div>
 </div>
 <!---->
 <div class="slogen">
  <div class="index_style">
    <ul class="wrap">
	 <li>
	  <a href="#"><img src="/static/images/slogen_34.png" data-bd-imgshare-binded="1"></a>
	  <b>安全保证</b>
	  <span>多重保障机制 认证商城</span>
	 </li>
	 <li><a href="#"><img src="/static/images/slogen_28.png" data-bd-imgshare-binded="2"></a>
	  <b>正品保证</b>
	  <span>正品行货 放心选购</span>
	 </li>
	 <li>
	  <a href="#"><img src="/static/images/slogen_30.png" data-bd-imgshare-binded="3"></a>
	  <b>七天无理由退换</b>
	  <span>七天无理由保障消费权益</span>
	 </li>
      <li>
	  <a href="#"><img src="/static/images/slogen_31.png" data-bd-imgshare-binded="4"></a>
	  <b>天天低价</b>
	  <span>价格更低，质量更可靠</span>
	 </li>
	</ul>
  </div>
 </div>
<!--底部图层-->
{{template "footer" .}}

   <!--右侧菜单栏购物车样式-->
<div class="fixedBox">
  <ul class="fixedBoxList">
      <li class="fixeBoxLi user"><a href="#"> <span class="fixeBoxSpan iconfont icon-yonghu"></span> <strong>用户</strong></a> </li>
    <li class="fixeBoxLi cart_bd" style="display:block;" id="cartboxs">
		<p class="good_cart">0</p>
			<span class="fixeBoxSpan iconfont icon-cart"></span> <strong>购物车</strong>
			<div class="cartBox">
       		<div class="bjfff"></div><div class="message">购物车内暂无商品，赶紧选购吧</div>    </div></li>
    <li class="fixeBoxLi Service "> <span class="fixeBoxSpan iconfont icon-service"></span> <strong>客服</strong>
      <div class="ServiceBox">
        <div class="bjfffs"></div>
        <dl onclick="javascript:;">
		    <dt><img src="/static/images/Service1.png"></dt>
		       <dd><strong>QQ客服1</strong>
		          <p class="p1">9:00-22:00</p>
		           <p class="p2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=DGG三端同步&amp;menu=yes">点击交谈</a></p>
		          </dd>
		        </dl>
				<dl onclick="javascript:;">
		          <dt><img src="/static/images/Service1.png"></dt>
		          <dd> <strong>QQ客服1</strong>
		            <p class="p1">9:00-22:00</p>
		            <p class="p2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=DGG三端同步&amp;menu=yes">点击交谈</a></p>
		          </dd>
		        </dl>
	          </div>
     </li>
	 <li class="fixeBoxLi code cart_bd " style="display:block;" id="cartboxs">
			<span class="fixeBoxSpan iconfont icon-erweima"></span> <strong>微信</strong>
			<div class="cartBox">
       		<div class="bjfff"></div>
			<div class="QR_code">
			
			
			</div>		
			</div>
			</li>

    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-shoucang"></span> <strong>收藏</strong> </a> </li>
    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-zuji"></span> <strong>足迹</strong> </a> </li>
    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-fankui"></span> <strong>反馈</strong> </a> </li>
    <li class="fixeBoxLi BackToTop"> <span class="fixeBoxSpan iconfont icon-top"></span> <strong>返回顶部</strong> </li>
  </ul>
</div>
</body>
</html>


<script>$("#allSortOuterbox").slide({ titCell:".Menu_list li",mainCell:".menv_Detail",	});</script>
<script type="text/javascript">

//浮动导航
function float_nav(dom){
	var right_nav=$(dom);
	var nav_height=right_nav.height();
	function right_nav_position(bool){
		var window_height=$(window).height();
		var nav_top=(window_height-nav_height)/2;
		if(bool){
			right_nav.stop(true,false).animate({top:nav_top+$(window).scrollTop()},400);
		}else{
			right_nav.stop(true,false).animate({top:nav_top},300);
		}	
		right_nav.show();
	}
	
	if(!+'\v1' && !window.XMLHttpRequest ){
		$(window).bind('scroll resize',function(){
			if($(window).scrollTop()>300){
				right_nav_position(true);			
			}else{
				right_nav.hide();	
			}
		})
	}else{
		$(window).bind('scroll resize',function(){
			if($(window).scrollTop()>300){
				right_nav_position();
			}else{
				right_nav.hide();
			}
		})
	}	
}
float_nav('#float');
float_nav('#left_nav');
</script>